body {
}

.table {
    text-align: right;
}

.main {
    background-image: url("Images/goals.png");
    background-color: white;
    color: black;
    width: 70%;
    height: 400px;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
    margin-top: 100px;
}

.txt {
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    color: #D33737;
}

#plan1 {
    background-image: url("Images/beginner.PNG");   
    float: left;
    width: 25%;
    background-color: white;
    color: black;
    height: 400px;
    border-radius: 15px;
    padding: 2%;
    margin-top: 100px;
}

#plan2 {
    background-image: url("Images/intermediate.PNG");
    margin-left: 7%;
    float: left;
    width: 25%;
    background-color: white;
    color: black;
    height: 400px;
    border-radius: 15px;
    padding: 2%;
    margin-top: 100px;
}

#plan3 {
    background-image: url("Images/advanced.PNG");
    float: right;
    width: 25%;
    background-color: white;
    color: black;
    height: 400px;
    border-radius: 15px;
    padding: 2%;
    margin-top: 100px;
}


.container {
    width: 74%;
    padding-left: 13%;
    padding-right: 13%;
    height: 570px;
}

.btn {
    margin-top: 275px;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    background: #D33737;
    border-radius: 10px;
}

.wrkoutbtn {
    margin-top: 50px;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    background: #D33737;
    border-radius: 10px;
}