body {
}

#contentRepeat {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin: 20px auto 20px auto;
    width: 50%;
    font-weight: 700;
    align-content: center;
}

.centerdiv {
    margin: auto;
    width: 80%;
}
